<mat-toolbar id="toolbar-primary" class="gap-2">
  <img
    id="logo-image"
    [routerLink]=""
    src="/small_pill%20only-min.svg"
    alt="LOGO" />
  <span>Akira</span>
  <div class="spacer"></div>

  <!-- Primary nav moved here -->
  <button
    mat-button
    [matMenuTriggerFor]="primaryMenu"
    aria-label="Navigate"
    class="gap-1">
    <mat-icon>menu</mat-icon>
    Menu
  </button>
  <mat-menu #primaryMenu="matMenu">
    <app-menu-navigation [destination]="['']" label="Home" />
    <app-menu-navigation [destination]="['about']" label="About" />
    <app-menu-navigation [destination]="['elections']" label="My elections" />
    <app-menu-navigation [destination]="['shelves']" label="My shelves" />
  </mat-menu>

  <app-authentication />
</mat-toolbar>
<mat-divider></mat-divider>

<div [@routeFadeAnimation] class="route-container">
  <router-outlet></router-outlet>
</div>
