// TODO: Not a fan of host!
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}

.route-container {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  flex-flow: column;
}

.brand-link {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    object-fit: contain;
    object-position: center;
  }
}
