// TODO: Not a fan of host!
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}

.brand-link {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;

  img {
    object-fit: contain;
    object-position: center;
  }
}
