<mat-card id="main-card" class="mat-elevation-z8">
  <div class="interior-container">
    <div
      id="header-container"
      style="
        display: flex;
        border-bottom: 2px solid black;
        margin-bottom: 2rem;
      ">
      <img
        style="width: 2rem; padding-right: 0.5rem"
        src="/small_pill%20only-min.svg" />
      <h1 id="title">[Akira v2] -> .draft</h1>
      <div style="margin: auto"></div>
      <app-authentication style="margin: auto 1em"></app-authentication>
    </div>
    <div id="main-container">
      <router-outlet></router-outlet>
    </div>
    <div id="footer-container"></div>
  </div>
</mat-card>
