.sheet-search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.advanced-search {
  margin: 0.5rem 0;

  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.search-paginator {
  margin-top: 0.5rem;
}
