.home-container {
  padding: 2rem;
  text-align: center;
}

.ascii {
  display: inline-block;
  margin: 0 auto 1rem;
  text-align: left;
  white-space: pre;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace;
  line-height: 1.1;
  font-size: 16px;
}

@media (max-width: 1023px) {
  .ascii {
    font-size: 8px;
  }
}
