<div class="home-container">
  @if (user$ | async; as u) {
    @if (u.isAuthenticated) {
      <div>
        <h1>Welcome {{ u.name }}</h1>
        <a mat-button routerLink="/shelves">Go to your shelves</a>
      </div>
    } @else {
      <pre class="ascii" aria-label="Akira ASCII logo">
        ______     __  __     __     ______     ______
        /\  __ \   /\ \/ /    /\ \   /\  == \   /\  __ \
        \ \  __ \  \ \  _"-.  \ \ \  \ \  __<   \ \  __ \
        \ \_\ \_\  \ \_\ \_\  \ \_\  \ \_\ \_\  \ \_\ \_\
        \/_/\/_/   \/_/\/_/   \/_/   \/_/ /_/   \/_/\/_/
      </pre>
      <p>Please log in to manage your library.</p>
    }
  }
</div>
