<div class="home-container">
  <ng-container *ngIf="user$ | async as u">
    <div *ngIf="u.isAuthenticated; else guest">
      <h1>Welcome {{ u.name }}</h1>
      <a mat-button routerLink="/shelves">Go to your shelves</a>
    </div>
    <ng-template #guest>
      <pre class="ascii" aria-label="Akira ASCII logo">
 ______     __  __     __     ______     ______   
/\  __ \   /\ \/ /    /\ \   /\  == \   /\  __ \  
\ \  __ \  \ \  _"-.  \ \ \  \ \  __<   \ \  __ \ 
 \ \_\ \_\  \ \_\ \_\  \ \_\  \ \_\ \_\  \ \_\ \_\
  \/_/\/_/   \/_/\/_/   \/_/   \/_/ /_/   \/_/\/_/
      </pre>
      <p>Please log in to manage your library.</p>
    </ng-template>
  </ng-container>
</div>
