@use '@angular/material' as mat;

// VARIABLES

$dc_metro_blue: #003DA5;
$dc_metro_red: #DA291C;
$dc_metro_green: #00843D;
$dc_metro_yellow: #FFC72C;
$dc_metro_orange: #ED8B00;
$dc_metro_silver: #7C878E;

$disabled: #CCC;

$white: #FFF;
$light-gray: #f0f0f0;
$dark-gray: #555;

// BASE

html, body {
  margin: 0;
  padding: 0;
}

// UTILITY

.spacer {
  flex: 1;
}

// MAT: TOOLBAR

mat-toolbar {
  padding: 2rem !important;
}

#toolbar-primary {
  display: flex;

  @include mat.toolbar-overrides((
    container-background-color: $dc_metro_blue,
    container-text-color: white,
  ));
}

#toolbar-secondary {
  padding: 0 1rem !important;
}

#toolbar-elections {
  display: flex;
  padding: 0 1.5rem !important;
}

.toolbar-divider {
  width: 0;
  border-left: 2px solid $disabled;
}

.toolbar-icon-button {
  transition: color .3s;

  &:hover {
    cursor: pointer;
    color: $dc_metro_blue
  }
}

// MAT: MENU
.secondary-toolbar-menu-trigger {
  font-weight: 600;
  font-size: 1rem;

  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  transition: color .3s;

  &:hover {
    cursor: pointer;
    color: $dc_metro_blue
  }

  &[aria-expanded="true"] {
    color: $dc_metro_blue
  }
}

.mat-mdc-menu-panel {
  padding: 0;

  background-color: $white !important;
  border: 1px solid $dc_metro_blue
}

// MAT: TABLE
:root {
  @include mat.table-overrides((
    background-color: $white,
  ));
}

.mat-mdc-table {

  .table-no-data-bar {
    padding-left: 2rem;
    margin-top: 1rem;
  }

  thead {
    background-color: $light-gray !important;

    th {
      border-bottom: none;
      font-weight: 600;
      letter-spacing: 0.05em;
      font-size: .75rem;
      color: $dark-gray;
      background-color: $light-gray !important;

      &:first-child {
        padding-left: 2rem;
      }
    }
  }

  tbody {
    td {
      &:first-child {
        padding-left: 2rem;
      }
    }
  }
}

.table-no-data-bar {
  width: 100%;
}

// MAT: CHIP

mat-chip {
  transition: background-color 200ms ease, color 200ms ease;
}

.status-chip-endless {
  min-width: 102px;
  @include mat.chips-overrides((
    outline-color: $dc_metro_green,
    label-text-color: $dc_metro_green,
  ));

  mat-icon {
    color: $dc_metro_green !important;
  }
}

.status-chip-ongoing {
  min-width: 102px;
  @include mat.chips-overrides((
    outline-color: $dc_metro_green,
    elevated-container-color: $dc_metro_green,
    label-text-color: $white,
  ));

  mat-icon {
    color: $white !important;
  }
}

.status-chip-ended {
  min-width: 102px;
  @include mat.chips-overrides((
    outline-color: $white,
    elevated-container-color: $dc_metro_red,
    label-text-color: $white,
  ));

  mat-icon {
    color: $white !important;
  }
}

// MAT: SHEET

.sheet-max {
  width: 100vw;
  margin: 2rem;

  mat-bottom-sheet-container {
    padding-top: 2rem;
    width: 100%;
    max-width: unset;
    height: calc(100vh - 6rem);
    overflow: scroll;
  }

  .sheet-search-bar {
    display: flex;
  }
}

// These are equivalent to tailwind or bootstrap classes.
// If I have enough, I'll re-eval using the lib.
.flex-row-reverse {
  flex-direction: row-reverse;
}

.gap-1 {
  gap: .25rem;
}

.gap-2 {
  gap: .5rem;
}

// BRANDING

#logo-image {
  width: 2rem;
}

// MAT: SNACKBAR

.success-snackbar {
  background-color: $dc_metro_green;
  color: $white;

  .mat-simple-snackbar-action {
    color: $white;
  }
}

.error-snackbar {
  background-color: $dc_metro_red;
  color: $white;

  .mat-simple-snackbar-action {
    color: $white;
  }
}

// SPECIFIC: BOOK

.book-cover-avatar {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    pointer-events: none;
  }
}
